@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: #a8bbbf;
	border-radius: 15px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #8fb5bd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: "Playfair Display", sans-serif; */
	font-family: "Platypi";
	scroll-behavior: smooth;
}

.modal {
	display: none;
	transition: opacity 0.3s ease, transform 0.3s ease;
	opacity: 0;
	transform: translateY(50px);
}

.modal.open {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.dark .ant-select-selection-search-input, 
.dark .ant-select-item, 
.dark .ant-picker-range *, 
.dark .ant-picker-input *,
.dark input::placeholder {
	color: white !important;
}
.dark .ant-select-selection-placeholder {
	@apply text-gray-400;
}
.dark .ant-select-item:hover {
	@apply bg-gray-700;
}
.ant-modal-content {
	background-color: transparent !important;
}
.dark .ant-skeleton-element .ant-skeleton-avatar,
.dark .ant-skeleton-element .ant-skeleton-input,
.dark .ant-skeleton-element .ant-skeleton-button {
	background-color: #404e67 !important;
	color: #a0aec0 !important;
}